# Unrelated Folders
bonbonflowerhouston.com/
ssh/

# Binary Releases (Uploaded to GitHub Releases)
*.apk
*.aab
*.exe
*.msix
*.zip
*.keystore

# Node / Dependencies
**/node_modules/
**/.pnp
**/.pnp.js

# Rust / Cargo
**/target/
**/*.pdb
**/*.WebView2/

# Android / Gradle Caches & Binaries
**/gradle-8.5/
**/.gradle/
**/build/
**/app/build/
**/android/app/build/
**/android/build/
**/android/.gradle/
**/android/app/.cxx/

# Logs and environment
**/*.log
**/*.local
.env
.env.*.local

# OS / IDE
.DS_Store
Thumbs.db
**/.idea/
**/.vscode/
*.swp
*.swo
